* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Poppins', sans-serif;
}

.banner_section {
    background-image: url('../images/hero_home_bg_1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background: rgb(4, 4, 128);
    padding: 250px 0px;
}
.banner_area {

}
.banner_content {
 text-align: center;
}
.banner_content .category_list {

}

.banner_content .category_list ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.banner_content form input[type="text"] {
    width: 100%;
}
.banner_content .category_list ul li {
    list-style: none;
}
.banner_content .category_list ul li a {
    color: #000;
    background-color: #fffbfb;
    margin: 0px 10px;
    padding: 10px 28px;
    display: inline-block;
    margin-bottom: 12px;
    border-radius: 9px;
    text-decoration: none;
}